#nav{
    background-color: black;
}
#navbar{
    margin: 10px;
    font-size: 20px;
    font-weight:inherit;
    font-family: sans-serif;

}
.btn-outline-success {
    color: whitesmoke;
    background-color: transparent;
    background-image: none;
    border-color: whitesmoke;
}
.btn-outline-success:hover {
    background-color: darkslategray;
    color: white;
}
#intro{
    background-image: url(images/design.avif);
    height: 100vh;
    width:99vw;
    background-size: cover;
}
#text{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;

}
#page2{
    height: 100vh;
    width:99vw;
    background-color: black;
}
#write{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.mb-5{
    margin-left: 370px;
}
#page3{
    height: 100vh;
    width:99vw;
    background-color: whitesmoke;
}
#d3{
    height: 60vh;
    width:51vw;
    margin-left: 114px;
}
#page4{
    height: 100vh;
    width:99vw;
    background-color: black;
}

#d4{
    height: 80vh;
    width:60vw;
    margin-right: 114px;
    margin-left: 20px;
}
#page5{
    height: 100vh;
    width:99vw;
    background-color: whitesmoke;
}
#tbox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}
