body{
    background-color: black;
}
#nav{
    background-color: black;
    
}
#navbar{
    margin: 10px;
    font-size: 20px;
    font-weight:inherit;
    font-family: sans-serif;

}
.btn-outline-success {
    color: whitesmoke;
    background-color: transparent;
    background-image: none;
    border-color: whitesmoke;
}
.btn-outline-success:hover {
    background-color: darkslategray;
    color: white;
}
#quote{
    color: white;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    width: 600px;
    padding: 50px;
    padding-left: 500px;
    text-align: center;
}
.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
}
#magic{
    background-color: black;
}
footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#dbtn{
    color: whitesmoke;
    background-color: black;
    
}
#imgb{
    height: 30vh;
    width:40vw;
    z-index: -1;
    margin-top: 90px;
}
#imgb:hover{
    scale: 1.1;
}
#im{
    height: 20vh;
    width:20vw;
    margin-top: 50px;
    margin-left: 50px;
}
#im:hover{
    scale: 1.1;
}
#insite{
    height: 20vh;
    width:20vw;
    margin-top: 310px;
    margin-left: -290px;
}
#insite:hover{
    scale: 1.1;
}
#modalb{
    height:70vh;
    width: 70vw;
    background-color: transparent;
}
#into{
    background-image: url(images/mec.avif);
    height: 100vh;
    width: 100vw;
    background-size:cover;
}
#pg2{
    padding-top: 600px;
    color: whitesmoke;
    margin-left: 50px;
}
#para{
    font-family:serif;
    color: whitesmoke;
    font-weight: bolder;
}
#getstarted{
    padding-left: 150px;
    color: white;
}
#reco{
    background-color: whitesmoke;
    
}
#hed{
    font-family: "MBCorpo Text","DaimlerCS-Regular","DaimlerCSArab-Regular",sans-serif;
    padding: 5rem;
    -webkit-font-smoothing: antialiased;
    font: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: whitesmoke;
}
.card{
    margin: 15px;
    margin-left: 600px; 
}