#nav{
    background-color: black;
}
#navbar{
    margin: 10px;
    font-size: 20px;
    font-weight:inherit;
    font-family: sans-serif;

}
.btn-outline-success {
    color: whitesmoke;
    background-color: transparent;
    background-image: none;
    border-color: whitesmoke;
}
.btn-outline-success:hover {
    background-color: darkslategray;
    color: white;
}
nav{
    background-color: black;
    height: 50px;
}
a{
    color:black;
    
}
button{
    padding: 5px 5px;
}
#quote {
    font-size: 24px;
    font-style: italic;
    margin-left: 20px;
  }
#imgc{
    display: flex;
    align-items: center;
  
}
.btn{
    background-color:black;
}
.carousel-inner{
    background-color:black;
}
.card-body{
    background-color:black;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
}
#exterior{
    background-color: black;
    color: white;
    
}
.container{
    background-color: black;
}
#interior{
    background-color: black;
    color: white;
}
#performance{
    background-color: black;
    color: white;
}
.navbar{
    color: white;

}
#exter{
    background-color: black;
}
.carcard{
    height: 560px;
    width: 300px;
}
.card{
    margin: 15px;
    margin-left:600px; 
}
.te{
    margin-left: 150px;
    margin-right: 100px;
}
.i{
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 30px;
}
#intro{
    background-image: url("images/3856931_amg038406.avif");
    height: 98.9vh;
    width: 98.9vw;
    background-size: cover;
}
#quote1{
    font-style: italic;
    font-size:40px;
    font-weight:bold;
    height:200px;
    width:500px;
    padding:100px ;
    padding-left:200px;
    text-align:center;
    color: white;
}
button{
    margin-left: 50px;
    border-radius: 5px;
    
}
#inter{
    background-color: black;
    margin-top: 50px;
}
#com{
    background-color: black;
    margin-top: 50px;
}
#safety{
    background-color: black;
    margin-top: 50px;
}
#cardss{
    background-color: black;
}
#h{
    color: white;
    margin-left: 200px;
}
footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
#f{
    background-color: black;
}
#t{
    margin-right: 250px;
}
#t1{
    margin-right: 250px;
}
#con{
    position: relative;
    flex-direction: column;
    display: flex;
}
#img1{
    margin-top: 10px;
}