#nav{
    background-color: black;
}
#navbar{
    margin: 10px;
    font-size: 20px;
    font-weight:inherit;
    font-family: sans-serif;

}
.btn-outline-success {
    color: whitesmoke;
    background-color: transparent;
    background-image: none;
    border-color: whitesmoke;
}
.btn-outline-success:hover {
    background-color: darkslategray;
    color: white;
}
#intro{
    background-image: url("images/prices.avif");
    height: 98.9vh;
    width: 98.9vw;
    background-size: cover;
}
#quote{
    font-style: italic;
    font-size:40px;
    font-weight:bold;
    height:200px;
    width:500px;
    padding:100px ;
    padding-left:200px;
    text-align:center;
    color: white;
}
.carcard{
    height: 540px;
    width: 300px;
}
.card{
    margin: 15px;
}
#text{
    margin-left: 100px;
}